<h1 class ="top-title">登録情報編集</h1>
<div class="sign-container">
    <%= form_with model: @customer, url: customer_customers_path, local:true do |f| %>
      <%#= render "end_users/shared/error_messages", resource: resource %>
      
      <div class="field">
        <div class="main-label">
          <%= f.label :お名前 %>
        </div>
        <div class="form-area clearfix">
          <span class="sub-label">姓 
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
          </span>
          <span class="sub-label">名 
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
          </span>
        </div>
      </div>
      
      <div class="field">
        <div class="main-label">
          <%= f.label :フリガナ %>
        </div>
        <div class="form-area clearfix">
          <span class="sub-label">セイ
            <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
          </span>
          <span class="sub-label">メイ
            <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
          </span>
        </div>
      </div>
      
      <div class="field">
        <div class="main-label">
          <%= f.label :メールアドレス %><br />
        </div>
        <div class="form-area-email ">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      
      <div class="field">
        <div class="main-label">
          <%= f.label :電話番号 %><br />
        </div>
        <div class="form-area-email">
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
        </div>
      </div>
      
      <div class="field">
        <div class="main-label">
          <%= f.label :郵便番号 %><br />
        </div>
        <div class="form-area-email">
          <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode" %>
        </div>
      </div>
      
      <div class="field">
        <div class="main-label">
          <%= f.label :住所 %><br />
        </div>
        <div class="form-area-email">
          <%= f.text_field :address, autofocus: true, autocomplete: "address", size: "55" %>
        </div>
      </div>
      
      <div class="actions">
        <%= f.submit "編集内容を保存", class: "btn btn-primary" %>
        <%= link_to "退会する", customer_confirm_path, class: "btn btn-danger btn-origin", style: "font-size: 14px" %>
      </div>
    <% end %>
    
    <%#= render "end_users/shared/links" %>
  </div>