<h1 class ="top-title top-title-item">商品一覧</h1>
<div class="item-btn-area">
    <%= link_to "商品新規登録", new_admin_item_path, class: "item-btn-admin" %>
</div>
<div class="table-container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody class ="table-striped">
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item), method: :get %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td><!--style ="border-bottom: 1px solid #ddd;"-->
        <td><%= item.revert_status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @items %>
</div>