<h1 class="top-title">商品一覧</h1>
<% if @searches.present? %>
  <div class="search-result-customer">
    <table class="table">
      <thead>
        <tr>
          <th class ="col-title-customer">商品ID</th>
          <th class ="col-title-customer">商品名</th>
          <th class ="col-title-customer">税抜価格</th>   
          <th class ="col-title-customer">ジャンル</th>
          <th class ="col-title-customer">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <h4 style ="color: green;"><%= @searches.count %>件ヒットしました</h4>
        <% @searches.each do |search| %>
        <tr>
          <td class ="col-body-customer" style ="color: blue;"><%= search.id %></th>
          <td class ="col-body-customer" style ="color: blue;"><%= link_to search.name, customer_item_path(search.id), style: "color: blue;" %></td>
          <td class ="col-body-customer" style ="color: blue;"><%= search.price %></td>
          <td class ="col-body-customer" style ="color: blue;"><%= search.genre.name %></td>
          <td class ="col-body-customer" style ="color: blue;"><%= search.revert_status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<div class="item-container">
  <div class="item-lists">
    <% @items.each do |item| %>
      <% if item.id <= 3 %>
        <%= link_to customer_item_path(item), class: "list-content" do %>
        <div class="item-box">
          <% if item.id == 1 %>
            <%= image_tag "shinanocake.jpg", :size => "180x180" %><br />
          <% elsif item.id == 2 %>
            <%= image_tag "mattyapurin.jpg", :size => "180x180" %><br />
          <% elsif item.id == 3 %>
            <%= image_tag "itigosohuto.jpg", :size => "180x180" %><br />
          <% else %>
            <%= image_tag "default.png", :size => "180x180" %><br />
          <% end %>
          <p class="item-name"><%= item.name %></p>
          <%= item.price %>
        </div>
        <% end %>
      <% else %>
        <%= link_to customer_item_path(item), class: "list-content" do %>
          <div class="item-box">
            <%= attachment_image_tag item, :image, fallback: "noimage.jpg", style: "height: 180px; width: 180px;" %><br />
            <p class="item-name"><%= item.name %></p>
            <%= item.price %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= paginate @items %>
</div>