<h2 class ="top-title">パスワードを変更する</h2>
<div class="sign-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "end_users/shared/error_messages", resource: resource %>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="field">
      <div class="main-label-edit">
        <%= f.label :新しいパスワード %><br />
      </div>
      <div class="form-area clearfix">
        <div class="sub-label">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="sub-label-edit">
          <% if @minimum_password_length %>
          <br />
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        </div>
      </div>
    </div>
  
    <div class="field">
      <div class="main-label-edit">
        <%= f.label :パスワード確認用 %><br />
      </div>
      <div class="form-area clearfix">
        <div class="sub-label">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
    </div>
  
    <div class="field">
      <div class="main-label-edit">
        <%= f.label :現在のパスワード %><br />
      </div>
      <div class="form-area clearfix">
        <div class="sub-label">
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      </div>
    </div>
  
    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary btn-update" %>
      <%= link_to "Back", :back, class: "btn btn-warning btn-back" %>
    </div>
  <% end %>
  
  <!--<h3>Cancel my account</h3>-->
  
  <!--<p>Unhappy?<%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->
</div>